@import url(../css/normalize.css);
* {
  box-sizing: border-box; }

.page {
  position: relative; }

nav {
  display: inline-block;
  vertical-align: center;
  margin-right: 2%; }

.nav-bar {
  position: relative;
  text-align: right;
  background-color: #fff;
  font-family: Montserrat;
  width: 1050px;
  margin: 0 auto; }
  .nav-bar .phone {
    margin-left: 3%;
    background-color: #F3323D;
    color: #fff;
    padding: 1% 3%;
    border-radius: 91px;
    border: none; }

.main-nav {
  list-style: none;
  margin: 0; }
  .main-nav li {
    display: inline-block;
    margin: 20px; }
    .main-nav li a {
      color: black;
      padding: 2px;
      font-size: 14px; }
      .main-nav li a:hover {
        color: red;
        border-bottom: 2px solid red; }

a {
  text-decoration: none;
  font-size: .9em; }

.logo {
  position: absolute;
  top: 25%;
  left: 5%; }

.banner {
  height: 525px;
  background-image: url(../images/banner-pic.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  font-family: Montserrat; }
  .banner .header-text {
    width: 45%;
    float: right;
    padding-top: 10%;
    padding-left: 5%; }
    .banner .header-text h1 {
      font-size: 50px;
      margin-bottom: 0; }
    .banner .header-text p {
      color: #5A5A5A;
      font-size: 20px;
      font-family: "Open Sans"; }

.content {
  width: 1050px;
  margin: auto; }

.offers {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  position: relative;
  margin: -15% auto 3% auto;
  text-align: center;
  border-radius: 5px;
  box-shadow: -1px 2px 5px #cccccc, 1px 0 5px #cccccc;
  font-family: Montserrat; }
  .offers img {
    display: inline-block; }
  .offers p {
    display: inline-block; }
  .offers .plan {
    display: inline-block;
    width: 22%;
    background-color: #fff;
    text-align: center;
    vertical-align: top;
    margin: .5%;
    padding: 3% 0;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    box-shadow: -1px 2px 3px #E0E0E0; }
    .offers .plan img {
      margin: auto; }
    .offers .plan .item {
      display: block; }
    .offers .plan .feature {
      font-family: Arial; }
    .offers .plan .line {
      letter-spacing: -1px; }
  .offers .heart {
    display: inline-block;
    padding: 5px;
    padding-bottom: 4px;
    border-radius: 100%;
    color: #fff;
    vertical-align: middle; }
  .offers .change-location {
    color: #D62A33;
    margin-left: 2%; }
  .offers .arrows {
    font-size: 10px; }

.product {
  margin-bottom: 0; }

.number {
  font-weight: bold;
  font-size: 90px;
  margin: 0 auto; }

.zero-block {
  display: inline-block;
  width: 30px;
  color: #5A5A5A;
  position: absolute;
  top: 30px;
  right: 20px; }

.zeros {
  font-size: 20px; }

.month {
  font-weight: lighter;
  font-size: 8px;
  display: block;
  text-align: left; }

.price {
  position: relative; }

.dollar {
  display: inline-block;
  position: absolute;
  top: 30px;
  left: 20px;
  font-weight: bold;
  font-size: 30px; }

.order {
  margin: auto;
  padding: 5% 0;
  width: 95%; }

.order-main {
  width: 662px;
  display: block;
  float: left;
  text-align: left; }
  .order-main .cart {
    display: inline-block;
    position: relative;
    top: 10px;
    width: 89.39px; }
  .order-main .order-text {
    display: inline-block;
    width: 532px;
    text-align: left;
    padding-left: 15px;
    line-height: 23px; }
    .order-main .order-text h3 {
      font-size: 30px;
      margin-bottom: 0; }
    .order-main .order-text p {
      font-size: 20px;
      color: #5A5A5A;
      font-family: "Open Sans"; }

.order-btn {
  width: 327px;
  display: block;
  background-color: #F3323D;
  border: none;
  font-family: Montserrat;
  font-size: 18px;
  color: white;
  padding: 2% 5%;
  border-radius: 100px;
  float: right;
  margin-top: 5%; }

.slider {
  max-width: 1050px;
  margin: 10% auto;
  font-family: Montserrat; }
  .slider .arrow, .slider .computer, .slider .slider-text {
    display: inline-block; }
  .slider .slider-status {
    display: block; }
  .slider .slider-text {
    width: 45%;
    vertical-align: top;
    margin-left: 3%; }
    .slider .slider-text button {
      background-color: #F3323D;
      color: #fff;
      font-size: 14px;
      font-family: Montserrat;
      padding: 3% 5%;
      border-radius: 91px;
      border: none;
      margin-top: 5px; }
  .slider h2 {
    font-size: 55px;
    margin-bottom: 0;
    margin-top: 2%; }
  .slider p {
    color: #5A5A5A;
    font-family: "Open Sans"; }
  .slider .arrow {
    margin-bottom: 8%; }
  .slider .slider-status {
    margin: auto;
    margin-top: 5%; }

.urgency {
  max-width: 1050px;
  background-color: #E12D37;
  color: #fff;
  border-radius: 4px;
  font-family: Montserrat;
  vertical-align: middle; }
  .urgency .ready, .urgency .urgency-text, .urgency .call {
    display: inline-block;
    vertical-align: middle; }
  .urgency .ready {
    font-size: 30px;
    width: 15%;
    text-align: center;
    padding-left: 20px;
    margin-left: 10px; }
  .urgency .urgency-text {
    font-size: 14px;
    width: 42%;
    line-height: 24px;
    letter-spacing: .5px;
    margin: 0 5%;
    font-family: Arial;
    padding-left: 10px; }
  .urgency .urgency-phone {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    padding-left: 10px; }
  .urgency .phone-icon {
    vertical-align: bottom; }
  .urgency .call {
    text-align: right; }

.columns {
  text-align: center;
  margin-top: 5%; }

.col {
  display: inline-block;
  text-align: center;
  width: 259px;
  font-family: Montserrat;
  margin: auto; }
  .col ul {
    list-style: none;
    padding: 0; }
    .col ul li {
      padding: 7px 0; }
    .col ul a {
      color: #D62A33;
      font-size: 14px; }
  .col h5 {
    font-size: 18px;
    margin-bottom: 2%; }

footer {
  text-align: center;
  margin-top: 3%;
  margin-bottom: 5%; }
  footer p {
    color: #5A5A5A;
    font-family: Arial;
    font-size: 14px; }
  footer a {
    display: inline-block;
    margin: 5px; }

.clearfix {
  content: "";
  display: table;
  clear: both; }

/*# sourceMappingURL=style.css.map */
